:root{
    --color-dark: #1F2122;
    --color-cont: #27292A;
    --color-primary: #EC6090;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    background-color: var(--color-dark) !important;
    font-family: 'Poppins', sans-serif;

}